<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Show</title>
    <meta name="description" content="A really cool site!">
    <!-- Bootstrap CDN -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    {% load static %}
    <link rel="stylesheet" href="{% static 'app_name/css/style.css' %}">
    <script src="{% static 'app_name/js/script.js' %}"></script>
</head>

<body>
    <!-- NEED TO GET THE DELETE BUTTON TO WORK ON THIS PAGE -->


    <div class="container text-center mt-3">
        <div class="row justify-content-end">
            <a href="/shows" class="align-self-end"> &#8249;&nbsp;Go Back</a>
        </div>
        <h1>TV Show {{ show.id }}: {{ show.title }}</h1>
        <div class="row text-left mt-5">
            <form action="/shows/{{ show.id }}" method="POST">
                {% csrf_token %}
                <p><strong>Title:</strong>{{ show.title }}</label></p>
                <p><strong>Network:</strong>{{ show.network }}</label></p>
                <p><strong>Release Date:</strong>{{ show.release_date }}</label></p>
                <p><strong>Description:</strong>{{ show.description }}</label></p>
                <p><strong>Last Updated:</strong>{{show.updated_at}}</p>
                <div class="row form-group text-left">
                    <a href="/shows/{{ show.id }}/edit" class="btn btn-primary m-2" role="button">Edit</a>
                    <a href="/delete_show/{{ show.id }}" class="btn btn-secondary m-2" role="button">Delete</a>
                </div>
            </form>
        </div>
    </div>

</body>

</html>